<p style="color: green"><%= notice %></p>

<% content_for :title, "Disciplinas" %>

<h1>Disciplinas</h1>

<div id="disciplinas">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <%= render @disciplinas %>
        </tbody>
    </table>
</div>

<%= link_to "New disciplina", new_disciplina_path %>