<p style="color: green"><%= notice %></p>

<h1>Disciplina Details</h1>
<p>
  <strong>nome:</strong>
  <%= @disciplina.nome %>
</p>

<div>
  <%= link_to "Back to disciplinas", disciplinas_path, class: "btn btn-primary"%>
</div>
